.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.search-bar {
    border: solid 1px #ccc;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 100px auto;
}
.search-bar:focus-within {
    border: solid 1px #ccc;
    box-shadow: 0px 2px 5px rgba(164, 164, 164, 0.9);
}
.search-bar input {
    border: none;
    outline: none;
    font-size: 17;
    padding: 10px;
    flex: auto;
}

.search-bar .acctions {
    display: flex;
    gap: 5px;
}

button {
    border: none;
    background-color: transparent;
    color: #999;
    outline: none;
    cursor: pointer;
}

.search-bar .acctions button:hover {
    color: rgb(135, 190, 172);
}